In [1]:
import pandas as pd

In [2]:
diamonds = pd.read_csv('inputs/diamonds_train.csv')

In [3]:
diamonds.head(20)

    id  carat        cut color clarity  depth  table     x     y     z  price
0    0   0.78    Premium     F     VS1   61.5   58.0  5.93  5.98  3.66   3446
1    1   0.31      Ideal     D     SI1   60.8   56.0  4.37  4.32  2.64    732
2    2   0.30      Ideal     F     SI1   62.3   54.0  4.30  4.34  2.69    475
3    3   1.04      Ideal     E    VVS2   62.0   58.0  6.54  6.46  4.03   9552
4    4   0.65      Ideal     J     SI1   61.4   55.0  5.58  5.62  3.44   1276
5    5   0.90    Premium     E     SI2   62.2   60.0  6.15  6.19  3.84   3662
6    6   0.31  Very Good     H     SI1   62.3   55.0  4.34  4.36  2.71    446
7    7   0.71       Fair     E     VS2   64.6   59.0  5.62  5.59  3.62   2902
8    8   2.05      Ideal     E     SI1   62.4   57.0  8.17  8.09  5.08  18193
9    9   1.10  Very Good     E     SI1   61.3   58.0  6.64  6.71  4.09   4791
10  10   1.19  Very Good     I     VS1   59.9   61.0  6.85  6.91  4.12   5644
11  11   0.65      Ideal     F     VS1   62.2   57.0  5.60  5.53  3.46   2340
12  12   0.30      Ideal     D     SI1   61.4   56.0  4.35  4.32  2.66    709
13  13   0.71      Ideal     G     SI1   61.2   58.0  5.77  5.79  3.54   2400
14  14   0.33      Ideal     F      IF   61.3   55.0  4.47  4.50  2.75   1240
15  15   1.30      Ideal     G    VVS2   60.9   57.0  7.04  7.11  4.31  11853
16  16   0.30    Premium     E     VS2   61.8   58.0  4.36  4.31  2.68    844
17  17   1.29      Ideal     F     VS1   60.7   57.0  7.08  7.05  4.29  11197
18  18   0.69      Ideal     G     SI1   62.4   56.0  5.66  5.69  3.55   2297
19  19   0.28      Ideal     E    VVS1   60.6   55.0  4.28  4.30  2.60    787

In [4]:
diamonds.shape

(40345, 11)

In [5]:
diamonds.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [6]:
diamonds.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [7]:
diamonds.isna().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [8]:
diamonds['cut'].unique()

array(['Premium', 'Ideal', 'Very Good', 'Fair', 'Good'], dtype=object)

In [9]:
#Creo dict para reemplazar los valores de cut a formato numérico:

punt_cut = {'Premium': 5, 'Ideal': 4, 'Very Good': 3, 'Good':2, 'Fair': 1}

diamonds['new_cut'] = [punt_cut[e] for e in diamonds['cut']]

In [10]:
diamonds.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price', 'new_cut'],
      dtype='object')

In [11]:
diamonds['color'].unique()

array(['F', 'D', 'E', 'J', 'H', 'I', 'G'], dtype=object)

In [12]:
#Creo dict para reemplazar los valores de cut a formato numérico:

punt_color = {'F':1, 'D':2, 'E':3, 'J':4, 'H':5, 'I':6, 'G':7}

diamonds['new_color'] = [punt_color[e] for e in diamonds['color']]

In [13]:
diamonds['clarity'].unique()

array(['VS1', 'SI1', 'VVS2', 'SI2', 'VS2', 'IF', 'VVS1', 'I1'],
      dtype=object)

In [14]:
#Creo dict para reemplazar los valores de cut a formato numérico:

punt_clarity = {'VS1':1, 'SI1':2, 'VVS2':3, 'SI2':4, 'VS2':5, 'IF':6, 'VVS1':7, 'I1':8}

diamonds['new_clarity'] = [punt_clarity[e] for e in diamonds['clarity']]

In [15]:
#Elimino columna 'cut', 'color', 'clarity':

diamonds.drop(['cut','color', 'clarity'],axis = 1, inplace=True)

In [16]:
diamonds.head()

,id,carat,depth,table,x,y,z,price,new_cut,new_color,new_clarity
0,0,0.78,61.5,58.0,5.93,5.98,3.66,3446,5,1,1
1,1,0.31,60.8,56.0,4.37,4.32,2.64,732,4,2,2
2,2,0.30,62.3,54.0,4.30,4.34,2.69,475,4,1,2
3,3,1.04,62.0,58.0,6.54,6.46,4.03,9552,4,3,3
4,4,0.65,61.4,55.0,5.58,5.62,3.44,1276,4,4,2

## X, y --> train_test_split

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X = diamonds.drop(columns=["price"])
y = diamonds['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32276, 10) (8069, 10) (32276,) (8069,)

## Modelo LinearRegression

In [30]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()

linear_fit = linear_model.fit(X_train, y_train)

#linear_fit.score(X_train, y_train)

In [31]:
#Evaluating LinearRegression model
from sklearn.metrics import r2_score

y_pred_linear = linear_fit.predict(X_train)
r2_score(y_train, y_pred_linear)

0.8631195420444558

In [32]:
#Test LinearRegression:
y_test_pred_linear = linear_fit.predict(X_test)
r2_score(y_test, y_test_pred_linear)

0.8615259193005975

In [34]:
#Train con todos los datos:
linear_fit_all = linear_model.fit(X, y)
y_pred_linear_all = linear_fit_all.predict(X_test)
r2_score(y_test, y_pred_linear_all)

0.8615952297967614

## Predict with test

In [37]:
test = pd.read_csv('inputs/diamonds_test.csv')
test.head()

   id  carat      cut color clarity  depth  table     x     y     z
0   0   1.10  Premium     H     SI2   62.2   58.0  6.69  6.60  4.13
1   1   0.51    Ideal     I     SI1   62.5   57.0  5.07  5.10  3.18
2   2   2.03  Premium     G     SI1   61.9   59.0  8.14  8.09  5.02
3   3   1.21  Premium     F     SI1   60.0   60.0  6.96  6.91  4.16
4   4   0.55    Ideal     F     SI1   61.8   55.0  5.27  5.22  3.24

In [39]:
punt_cut = {'Premium': 5, 'Ideal': 4, 'Very Good': 3, 'Good':2, 'Fair': 1}

test['new_cut'] = [punt_cut[e] for e in test['cut']]

punt_color = {'F':1, 'D':2, 'E':3, 'J':4, 'H':5, 'I':6, 'G':7}

test['new_color'] = [punt_color[e] for e in test['color']]

punt_clarity = {'VS1':1, 'SI1':2, 'VVS2':3, 'SI2':4, 'VS2':5, 'IF':6, 'VVS1':7, 'I1':8}

test['new_clarity'] = [punt_clarity[e] for e in test['clarity']]
test.drop(['cut','color', 'clarity'],axis = 1, inplace=True)

In [41]:
test.head()

   id  carat  depth  table     x     y     z  new_cut  new_color  new_clarity
0   0   1.10   62.2   58.0  6.69  6.60  4.13        5          5            4
1   1   0.51   62.5   57.0  5.07  5.10  3.18        4          6            2
2   2   2.03   61.9   59.0  8.14  8.09  5.02        5          7            2
3   3   1.21   60.0   60.0  6.96  6.91  4.16        5          1            2
4   4   0.55   61.8   55.0  5.27  5.22  3.24        4          1            2

In [42]:
y_final_pred_linear = linear_fit_all.predict(test)

In [43]:
y_final_pred_linear

array([ 5909.63096244,  1511.43667181, 14057.67235844, ...,
         -20.29726001,   506.30019634,  2421.33362356])

In [50]:
test['linearRegresion1'] = y_final_pred_linear

In [52]:
final = test[['id', 'linearRegresion1']]

In [58]:
final.rename(columns={'linearRegresion1': "price"}, inplace = True)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [59]:
final.to_csv('outputs/predict1.csv', header=True, index=False)

In [20]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFECV

model_forest = RandomForestRegressor(n_estimators=15, max_depth=3, min_samples_leaf=3, random_state=111)
selector = RFECV(model_forest, step=1, cv=5)

model_forest_fit = selector.fit(X_train, y_train)

In [23]:
y_predict = model_forest_fit.predict(X_train)

In [26]:
display(y_predict)
display(y_train)

array([ 791.30464265,  791.30464265, 5644.15464549, ..., 5644.15464549,
       2690.65557811, 2690.65557811])

20584     561
3575      791
12594    5031
6665     4155
11914    1956
         ...
24772     707
19700     760
34969    4032
11759    2879
33674    2458
Name: price, Length: 32276, dtype: int64

In [21]:
selector.n_features_

4

In [22]:
pd.Series(X.columns)[selector.support_.tolist()]

1          carat
4              x
5              y
9    new_clarity
dtype: object

In [ ]:
predictors = pd.Series(predictors)[selector.support_.tolist()].tolist()
predictors