### Prueba eliminando x,y (alta correlación)

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import *

In [2]:
diamonds = pd.read_csv('../inputs/diamonds_train.csv')
test = pd.read_csv('../inputs/diamonds_test.csv')
test2 = test.copy()

In [3]:
#Función::

def clean (df):

    #Creo dict para reemplazar los valores de cut a formato numérico:

    punt_cut = {'Premium': 5, 'Ideal': 4, 'Very Good': 3, 'Good':2, 'Fair': 1}
    df['cut'] = df['cut'].map(punt_cut)

    #Creo dict para reemplazar los valores de cut a formato numérico:
    punt_color = {'F':5, 'D':7, 'E':6, 'J':1, 'H':3, 'I':2, 'G':4}

    df['color'] = df['color'].map(punt_color)

    #Creo dict para reemplazar los valores de cut a formato numérico:
    punt_clarity = {'VS1':3, 'SI1':2, 'VVS2':4, 'SI2':2, 'VS2':3, 'IF':5, 'VVS1':4, 'I1':1}

    df['clarity'] = df['clarity'].map(punt_clarity)
    
    df.drop('id', axis =1, inplace = True)
    
    return df

In [4]:
def errors (y, X, model):

    print(f'METRIC SUMMARY')
    print(f'MSE: {mean_squared_error(y, model.predict(X))}')
    print(f'RMSE: {np.sqrt(mean_squared_error(y, model.predict(X)))}')
    print(f'MSLE:  {mean_squared_log_error(y, model.predict(X))}')
    print(f'MAE:  {mean_absolute_error(y, model.predict(X))}')
    print(f'R2:  {r2_score(y, model.predict(X))}')

In [5]:
diamonds = clean(diamonds)

In [6]:
diamonds.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [7]:
X = diamonds[['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'z']]
y = diamonds['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
forest_model = RandomForestRegressor(n_estimators=200, min_samples_leaf=5)

forest_model.fit(X_train, y_train)
y_pred_1 = forest_model.predict(X_test)
errors(y_test, X_test, forest_model)

METRIC SUMMARY
MSE: 430427.7819930249
RMSE: 656.0699520577245
MSLE:  0.014071154821964292
MAE:  349.6913074542113
R2:  0.972943418950677

In [9]:
test_copy = clean(test)

In [10]:
test_copy = test_copy[['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'z']]

In [11]:
forest_model.fit(X, y)
y_pred_1 = forest_model.predict(test_copy)

In [12]:
test2

          id  carat        cut color clarity  depth  table     x     y     z
0          0   1.10    Premium     H     SI2   62.2   58.0  6.69  6.60  4.13
1          1   0.51      Ideal     I     SI1   62.5   57.0  5.07  5.10  3.18
2          2   2.03    Premium     G     SI1   61.9   59.0  8.14  8.09  5.02
3          3   1.21    Premium     F     SI1   60.0   60.0  6.96  6.91  4.16
4          4   0.55      Ideal     F     SI1   61.8   55.0  5.27  5.22  3.24
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
13444  13444   0.30    Premium     E     VS2   60.0   58.0  4.37  4.40  2.63
13445  13445   0.55      Ideal     D    VVS2   60.8   56.0  5.31  5.34  3.24
13446  13446   0.23  Very Good     E    VVS1   61.3   58.0  3.94  3.96  2.42
13447  13447   0.30      Ideal     D     VS2   61.4   58.0  4.29  4.31  2.64
13448  13448   0.54      Ideal     D     VS1   61.4   53.0  5.28  5.30  3.25

[13449 rows x 10 columns]

In [16]:
test2['price'] = y_pred_1
final = test2[['id','price']]
final.head()

   id         price
0   0   4934.105051
1   1   1037.037424
2   2  16167.467486
3   3   5686.364186
4   4   1366.655107

In [17]:
final.to_csv('outputs/randomForestNoXY.csv', header=True, index=False)