In [1]:
import pandas as pd

In [2]:
diamonds = pd.read_csv('../inputs/diamonds_train.csv')

In [3]:
diamonds.head()

   id  carat      cut color clarity  depth  table     x     y     z  price
0   0   0.78  Premium     F     VS1   61.5   58.0  5.93  5.98  3.66   3446
1   1   0.31    Ideal     D     SI1   60.8   56.0  4.37  4.32  2.64    732
2   2   0.30    Ideal     F     SI1   62.3   54.0  4.30  4.34  2.69    475
3   3   1.04    Ideal     E    VVS2   62.0   58.0  6.54  6.46  4.03   9552
4   4   0.65    Ideal     J     SI1   61.4   55.0  5.58  5.62  3.44   1276

In [4]:
diamonds.shape

(40345, 11)

In [5]:
diamonds.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [6]:
diamonds.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [7]:
diamonds.isna().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [8]:
diamonds['cut'].unique()

array(['Premium', 'Ideal', 'Very Good', 'Fair', 'Good'], dtype=object)

In [9]:
#Creo dict para reemplazar los valores de cut a formato numérico:

punt_cut = {'Premium': 5, 'Ideal': 4, 'Very Good': 3, 'Good':2, 'Fair': 1}
diamonds['cut'] = diamonds['cut'].map(punt_cut)

#Creo dict para reemplazar los valores de cut a formato numérico:
punt_color = {'F':2, 'D':7, 'E':3, 'J':4, 'H':5, 'I':6, 'G':4}

diamonds['color'] = diamonds['color'].map(punt_color)

#Creo dict para reemplazar los valores de cut a formato numérico:
punt_clarity = {'VS1':4, 'SI1':2, 'VVS2':7, 'SI2':3, 'VS2':5, 'IF':8, 'VVS1':6, 'I1':1}

diamonds['clarity'] = diamonds['clarity'].map(punt_clarity)

In [10]:
diamonds.head()

   id  carat  cut  color  clarity  depth  table     x     y     z  price
0   0   0.78    5      2        4   61.5   58.0  5.93  5.98  3.66   3446
1   1   0.31    4      7        2   60.8   56.0  4.37  4.32  2.64    732
2   2   0.30    4      2        2   62.3   54.0  4.30  4.34  2.69    475
3   3   1.04    4      3        7   62.0   58.0  6.54  6.46  4.03   9552
4   4   0.65    4      4        2   61.4   55.0  5.58  5.62  3.44   1276

## X, y --> train_test_split

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X = diamonds.drop(columns=["price"])
y = diamonds['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32276, 10) (8069, 10) (32276,) (8069,)

## Modelo LinearRegression

In [13]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()

linear_fit = linear_model.fit(X_train, y_train)

#linear_fit.score(X_train, y_train)

In [14]:
#Evaluating LinearRegression model
from sklearn.metrics import r2_score

y_pred_linear = linear_fit.predict(X_train)
r2_score(y_train, y_pred_linear)

0.881054409484696

In [15]:
#Test LinearRegression:
y_test_pred_linear = linear_fit.predict(X_test)
r2_score(y_test, y_test_pred_linear)

0.8865108331729424

In [16]:
#Train con todos los datos:
linear_fit_all = linear_model.fit(X, y)
y_pred_linear_all = linear_fit_all.predict(X_test)
r2_score(y_test, y_pred_linear_all)

0.886630671456835

## Predict with test

In [17]:
test = pd.read_csv('../inputs/diamonds_test.csv')
test.head()

   id  carat      cut color clarity  depth  table     x     y     z
0   0   1.10  Premium     H     SI2   62.2   58.0  6.69  6.60  4.13
1   1   0.51    Ideal     I     SI1   62.5   57.0  5.07  5.10  3.18
2   2   2.03  Premium     G     SI1   61.9   59.0  8.14  8.09  5.02
3   3   1.21  Premium     F     SI1   60.0   60.0  6.96  6.91  4.16
4   4   0.55    Ideal     F     SI1   61.8   55.0  5.27  5.22  3.24

In [18]:
#Creo dict para reemplazar los valores de cut a formato numérico:

punt_cut = {'Premium': 5, 'Ideal': 4, 'Very Good': 3, 'Good':2, 'Fair': 1}
test['cut'] = test['cut'].map(punt_cut)

#Creo dict para reemplazar los valores de cut a formato numérico:
punt_color = {'F':2, 'D':7, 'E':3, 'J':4, 'H':5, 'I':6, 'G':4}

test['color'] = test['color'].map(punt_color)

#Creo dict para reemplazar los valores de cut a formato numérico:
punt_clarity = {'VS1':4, 'SI1':2, 'VVS2':7, 'SI2':3, 'VS2':5, 'IF':8, 'VVS1':6, 'I1':1}

test['clarity'] = test['clarity'].map(punt_clarity)

In [19]:
test.head()

   id  carat  cut  color  clarity  depth  table     x     y     z
0   0   1.10    5      5        3   62.2   58.0  6.69  6.60  4.13
1   1   0.51    4      6        2   62.5   57.0  5.07  5.10  3.18
2   2   2.03    5      4        2   61.9   59.0  8.14  8.09  5.02
3   3   1.21    5      2        2   60.0   60.0  6.96  6.91  4.16
4   4   0.55    4      2        2   61.8   55.0  5.27  5.22  3.24

In [20]:
y_final_pred_linear = linear_fit_all.predict(test)

In [21]:
y_final_pred_linear

array([ 5776.50330873,   712.10707564, 13752.43628111, ...,
         375.05697562,   278.94777168,  1828.97118395])

In [22]:
test['linearRegresion1'] = y_final_pred_linear

In [23]:
final = test[['id', 'linearRegresion1']]

In [24]:
final.rename(columns={'linearRegresion1': "price"}, inplace = True)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [25]:
final.to_csv('outputs/predict1.csv', header=True, index=False)